body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #343434;
    color: white;
}

.header {
    height: 5.5rem;
    background-color: #1B1B1B;
    display: flex;
    color: white;
    position: relative;
}

.logo {
    max-height: 4.25rem;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .25rem;
}

.title {
    height: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oeTxt {
    color: #B9B9B9;
    font-size: smaller;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    height: 100%;
}

.menuButton {
    font-family: 'Inter', sans-serif;
    background-color: #262626;
    color: white;
    font-weight: 300;
    border-style: none;
    height: 2.7rem;
    width: 10rem;
}

.menuButton:hover{
    cursor: pointer;
    background-color: #393939;
}

.tH{
    background-color: #b6b6b6;
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: 5rem 20rem 2rem 2rem 2rem 2rem 2rem 2rem 18rem 2rem ; /* USE %

}